@mixin button{
    background-color: var(--color-pink);
    color: var(--color-pink);
    padding: 0.75em 1.5em;
    border-radius: 100px;
    transition: all 150ms;
    text-decoration: none;
    font-family: var(--font_sans);
    font-size: 1rem;
    text-align: center;
    &:hover{
        background-color: var(--color_yellow);
    }

}